.item {
    display: flex;
    // flex-direction: column;
    align-items: center;
    padding-left: 20px;
    color: var(--color-text-1);
  }
  
.title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-1);
}

.chart-title {
  font-size: 16px;
  font-weight: 500;
}

.ctw {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

  
.count {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-1);
  
    .unit {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-text-2);
      margin-left: 8px;
    }
  }
  
.business {
    background: black;
    display: flex;
    flex-direction: column;
}

.divider {
    height: 60px;
  }
  

.project-wrapper {
  // cursor: pointer;
  display: flex;
  flex-direction: column;

  h6 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 14px;
  }

  .avatar {
    margin-top: 22px;
  }

  .more {
    font-size: 12px;
    margin-left: 12px;
  }
}
  