.item {
    display: flex;
    // flex-direction: column;
    align-items: center;
    padding-left: 20px;
    color: var(--color-text-1);
  }
  
.title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-1);
}
  
.count {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text-1);
  
    .unit {
      font-size: 12px;
      font-weight: 400;
      color: var(--color-text-2);
      margin-left: 8px;
    }
  }
  
.business {
    background: black;
    display: flex;
    flex-direction: column;
}

.divider {
    height: 60px;
  }
  